<script>
	import { onMount } from 'svelte';
	import {
		Avatar,
		Card,
		CardSubtitle,
		CardText,
		CardTitle,
		Icon,
		MaterialApp
	} from 'svelte-materialify';
	import colors from 'svelte-materialify/src/utils/colors';
	import * as icons from '@mdi/js';

	let parameters = null;
	onMount(() => {
		parameters = Object.fromEntries(new URLSearchParams(location.search.substring(1)).entries());
	});

	$: color = Object.keys(colors).find((key) => key === parameters?.color);
	$: from = parameters?.from || '<from>';
	$: help = parameters?.help;
	$: icon = icons[`mdi${parameters?.icon}`];
	$: text = parameters?.text || '';
	$: title = parameters?.title || '<title>';
	$: to = parameters?.to || '<to>';
</script>

<MaterialApp>
	{#if !help}
		<div class="screenshot-border">
			<Card class="ma-4 rounded-xl" style="width: 400px" raised>
				<CardSubtitle>
					<strong>{from}</strong> hat ein Lob gesendet an <strong>{to}</strong>:
				</CardSubtitle>

				<CardTitle class="flex-column justify-center">
					<Avatar class={color + ' lighten-4 pa-4'} size="auto">
						<Icon class={color + '-text'} path={icon} size="96px" />
					</Avatar>
					{title}
				</CardTitle>

				<CardText>{text}</CardText>
			</Card>
		</div>
	{/if}

	{#if help === 'color'}
		<ul>
			{#each Object.keys(colors) as key}
				<li>
					{key}
				</li>
			{/each}
		</ul>
	{/if}

	{#if help === 'icon'}
		<ul>
			{#each Object.keys(icons) as key}
				<li>
					{key.substring(3)}
					<Icon class="primary-text" path={icons[key]} />
				</li>
			{/each}
		</ul>
	{/if}
</MaterialApp>

<style>
	:global(.s-app) {
		background: #f0f0f0 !important;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	:global(.s-avatar .s-icon) {
		border-radius: 0 !important;
	}

	.screenshot-border {
		height: fit-content;
		padding: 8px;
		width: fit-content;
	}

	ul:empty {
		content: '…';
	}
</style>
